<!DOCTYPE html>
<html>

<head>
    <title>Darts scoreboard admin</title>
    <!--<link rel="stylesheet" href="/assets/bootstrap.min.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">

    <script src="/assets/vue226.js"></script>
    <script src="/assets/axios.js"></script>
    <script src="/assets/underscore.js"></script>
    <script>
        var editThrows;

        window.onload = function(){

            var socket = new WebSocket('ws://'+window.location.hostname+':'+window.location.port+'/ws');

            var tm
            var ping = function(){
                socket.send('__ping__');
                tm = setTimeout(function () {
                    location.reload();
                }, 1500);
            }

            socket.onopen = function() {

                setInterval(ping, 2000);

                socket.onmessage = function(response) {

                    if (response.data == '__pong__'){
                        clearTimeout(tm);
                        return
                    }

                    var command = JSON.parse(response.data)

                    if (command.command == "start") {
                        editThrows.setGame(command.game)
                    }

                    if (command.command == "insert_throw") {
                        var player = _.find(editThrows.players, function(pl){ return pl.id == command.playerId })

                        editThrows.throwModel.id = command.throw.id
                        editThrows.throwModel.score = command.throw.score
                        editThrows.throwModel.modifier = command.throw.modifier
                        editThrows.throwModel.time = command.throw.time
                        editThrows.throwModel.playerName = player.name
                        editThrows.throwModel.playerId = player.id

                        editThrows.throws.push(Vue.util.extend({}, editThrows.throwModel))
                    }

                    if (command.command == "edit_throw") {
                        var thr = _.find(editThrows.throws, function(t){ return t.id == command.throw.id })

                        if (thr == undefined){
                            return
                        }

                        thr.score = command.throw.score
                        thr.modifier = command.throw.modifier
                    }

                    if (command.command == "finish") {
                        editThrows.showFinishLink = true
                    }

                };

            }

            Vue.filter('reverse', function(value) {
            // slice to make a copy of array, then reverse the copy
            return value.slice().reverse();
            });

            editThrows = new Vue({
                el: '#editThrow',
                delimiters: ['{%', '%}'],
                data: {
                    showFinishLink: false,
                    throwModel: {id: '', playerName: '', playerId: '', score: 0, modifier: 0 },
                    playerModel: {id: '', name: '' },
                    editThrowModel: {id: '', playerName: '', playerId: '', score: 0, modifier: 0, isVisible: false},
                    players: [],
                    throws: [],
                    showThrowLane: true
                },
                computed: {
                    orderedThrows: function(){
                        return _.sortBy(this.throws, function(o){ return -Date.parse(o.time) })
                    },
                },
                methods: {
                    setGame: function(data){

                        var vApp = this

                        _.each(data.players, function(player){
                            vApp.playerModel.id = player.id
                            vApp.playerModel.name = player.name
                            vApp.players.push(Vue.util.extend({}, vApp.playerModel))

                            _.each(player.rounds, function(round){
                                _.each(round.throws, function(thr){
                                    vApp.throwModel.id = thr.id
                                    vApp.throwModel.score = thr.score
                                    vApp.throwModel.modifier = thr.modifier
                                    vApp.throwModel.time = thr.time
                                    vApp.throwModel.playerName = player.name
                                    vApp.throwModel.playerId = player.id

                                    vApp.throws.push(Vue.util.extend({}, vApp.throwModel))
                                })
                            })
                        })

                    },
                    modifierClass: function(m){
                        if (m == 0){
                            return 'label-out';
                        }
                        if (m == 1){
                            return 'label-default';
                        }
                        if (m == 2){
                            return 'label-success';
                        }
                        if (m == 3){
                            return 'label-danger';
                        }
                    },
                    changeBigScoreModifier: function(m){
                        this.editThrowModel.modifier = m
                    },
                    changeBigScoreScore: function(s){
                        this.editThrowModel.score = s
                    },
                    saveEditedThrow: function(){
                        axios.get('/admin/setThrow?playerId='+this.editThrowModel.playerId+'&score='+this.editThrowModel.score
                                +'&modifier='+this.editThrowModel.modifier+'&throwId='+this.editThrowModel.id)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        }); 

                        this.editThrowModel.isVisible = false
                        this.showThrowLane = true
                    },
                    saveNewThrow: function(){
                        axios.get('/cam/command?num='+this.editThrowModel.score
                                +'&modifier='+this.editThrowModel.modifier)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                        this.editThrowModel.isVisible = false
                        this.showThrowLane = true
                    },
                    cancelEditThrow: function(){
                        this.editThrowModel.isVisible = false
                        this.showThrowLane = true
                    },
                    setBigScore: function(thr){
                        this.editThrowModel.id = thr.id
                        this.editThrowModel.playerName = thr.playerName
                        this.editThrowModel.playerId = thr.playerId
                        this.editThrowModel.score = thr.score
                        this.editThrowModel.modifier = thr.modifier
                        this.editThrowModel.isVisible = true

                        this.showThrowLane = false
                    }
                }
            })


        }
    </script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Darts-go</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/saveAndCreateNew">New game</a></li>
        </ul>
    </div>
</nav>    <div class="container" id="editThrow">

        <a class="btn btn-primary restart-btn" href="/admin/saveAndCreateNew" v-if="showFinishLink">RESTART GAME</a>

        <div class="row big-score-container" v-show="editThrowModel.isVisible">

            <div class="label big-score-box" :class="modifierClass(editThrowModel.modifier)">
                <span v-text="editThrowModel.playerName" class="big-name"></span>
                <span v-text="editThrowModel.score" class="big-score"></span>
            </div>

            <div class="btn-group modifier-btn" role="group" aria-label="">
                <button type="button" class="btn btn-default" @click="changeBigScoreModifier(0)">Out</button>
                <button type="button" class="btn btn-default" @click="changeBigScoreModifier(1)">Simple</button>
                <button type="button" class="btn btn-default" @click="changeBigScoreModifier(2)">Double</button>
                <button type="button" class="btn btn-default" @click="changeBigScoreModifier(3)">Triple</button>
            </div>

            <div class="score-list">
                <button v-for="n in 20" type="button" class="btn btn-default score-list-item" @click="changeBigScoreScore(n)" v-text="n"></button>

                <button type="button" class="btn btn-default score-list-item" @click="changeBigScoreScore(25)">25</button>
            </div>


            <div class="btn-group modifier-btn" role="group" aria-label="">
                <button type="button" class="btn btn-success send-score" @click="saveNewThrow()">New</button>
                <button type="button" class="btn btn-success send-score save" @click="saveEditedThrow()">Save</button>
                <button type="button" class="btn btn-danger score-edit-cancel" @click="cancelEditThrow()">Cancel</button>
            </div>

        </div>

        <nav class="navbar" v-show="showThrowLane">
            <div class="row throws-line">

                <span class="label score-box" :class="modifierClass(thr.modifier)" v-for="thr in orderedThrows" @click="setBigScore(thr)">
                    <span v-text="thr.playerName" class="name"></span>
                    <span v-text="thr.score" class="score"></span>
                </span>

            </div>
        </nav>
    </div>

</body>

</html>
